[Unit]
Description=Discord Webhook Service
After=network.target

[Service]
Type=simple
User=chis
WorkingDirectory=/home/chis/discord-interactions-webhook
ExecStart=/usr/bin/npm start
Restart=always

[Install]
WantedBy=multi-user.target
